@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@300&display=swap");
.icons {
  background-color: #ffffff;
  padding: 15px;
  color: #026e52; }
  .icons .contenedor-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px; }
    .icons .contenedor-icons div {
      font-size: 55px;
      margin: 20px; }

/*!------------GOOGLE FONTS------------*/
/*!------------RESET------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

@media screen and (max-width: 1350px) {
  .carousel-caption h1 {
    font-size: 50px !important; }
  .carousel-caption p {
    font-size: 40px !important; } }

@media screen and (max-width: 1200px) {
  .contenedor-contacto {
    flex-direction: column; } }

@media screen and (max-width: 900px) {
  .contenedor-servicio div {
    margin-left: 0 !important; } }

@media screen and (max-width: 900px) {
  header {
    flex-direction: column; }
  .contenedor-icons {
    flex-direction: column;
    align-items: center; }
  .contenedor-img-index {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr; } }

@media screen and (max-width: 860px) {
  .carousel-caption h1 {
    font-size: 20px !important; }
  .carousel-caption p {
    font-size: 15px !important; } }

@media screen and (max-width: 850px) {
  .campo-formulario input {
    width: 290px !important;
    margin-bottom: 15px; }
  .campo-formulario textarea {
    width: 290px !important; } }

@media screen and (max-width: 650px) {
  header nav ul {
    flex-direction: column;
    text-align: center; }
    header nav ul li {
      margin: 0 !important; }
  .contenedor-img-index {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; }
  .diseno {
    height: 100% !important; }
  .contenedor-icons div {
    margin: 0 !important; } }

@media screen and (max-width: 600px) {
  .contenedor-servicio {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  .contenedor-servicio {
    flex-direction: column; } }

@media screen and (max-width: 450px) {
  .nosotros-content {
    height: 800px; }
  footer {
    flex-direction: column;
    height: 100% !important; } }

@media screen and (max-width: 400px) {
  .carousel-caption h1 {
    font-size: 10px !important; }
  .carousel-caption p {
    font-size: 5px !important; } }

header {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h1 {
    color: #026e52;
    font-size: 60px; }
  header nav ul {
    list-style: none;
    display: flex;
    margin-right: 75px;
    margin-bottom: 0; }
    header nav ul li {
      margin: 18px; }
      header nav ul li a {
        text-decoration: none;
        color: #026e52;
        font-weight: bold;
        font-size: 19px;
        transition: color 0.3s ease; }
        header nav ul li a:hover {
          color: #fff;
          background-color: #026e52;
          border-radius: 50px;
          padding: 10px; }

/*!------INDEX-----*/
body header h1 {
  font-weight: bolder;
  margin-left: 50px; }

/*!------BOOSTRAP-----*/
.hero .carousel-caption h1 {
  font-size: 125px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  -webkit-text-stroke: 2px #026e52; }

.hero .carousel-caption p {
  font-size: 40px;
  color: #ffffff;
  -webkit-text-stroke: 1px black; }

/*!------ICONOS INDEX-----*/
.icons {
  background-color: #ffffff;
  padding: 15px;
  color: #026e52; }
  .icons .contenedor-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px; }
    .icons .contenedor-icons div {
      font-size: 55px;
      margin: 20px; }
  .icons .titulos-iconos h2 {
    font-size: 15px;
    font-weight: bold; }
  .icons .titulos-iconos p {
    font-size: 13px; }
  .icons .contenedor-texto-iconos {
    display: flex;
    align-items: center; }

/*!-----GALERIA INDEX-----*/
.titulo-producto {
  font-size: 50px;
  text-align: center;
  margin: 50px;
  padding: 15px;
  color: #026e52; }

.contenedor-img-index {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0 auto; }
  .contenedor-img-index div {
    position: relative; }
    .contenedor-img-index div h3 {
      position: absolute;
      bottom: 0;
      color: #ffffff;
      width: 100%;
      padding: 10px;
      margin-bottom: 0;
      background-color: rgba(2, 110, 82, 0.6);
      border-radius: 5px; }
  .contenedor-img-index img {
    border: 1px solid #026e52;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px; }
  .contenedor-img-index .imagen-alargada {
    grid-row: span 2; }

/*!-----PAGINA PRODUCTOS-----*/
.titulo-productos {
  text-align: center;
  color: #026e52;
  margin-bottom: 50px; }

.productos .producto-card:hover {
  transition: 2s; }

.productos .producto-card:hover {
  transform: scale(1.1);
  box-shadow: 6px 10px 37px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 10px 37px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 10px 37px -8px rgba(0, 0, 0, 0.75); }

.titulo-productos {
  font-size: 50px; }

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .productos .producto-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 25px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    border: 0.5px solid #026e52; }
    .productos .producto-card img.producto-img {
      align-self: center;
      height: 380px;
      width: 380px;
      display: flex;
      align-items: center; }
    .productos .producto-card .contenedor-inf {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px; }
      .productos .producto-card .contenedor-inf h2 {
        font-size: 25px;
        color: black; }
      .productos .producto-card .contenedor-inf button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        color: #026e52;
        border: 1.5px solid #026e52;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: bold;
        transition: 0.7s; }
        .productos .producto-card .contenedor-inf button:hover {
          background-color: #026e52;
          color: #ffffff;
          border: 1px solid #ffffff; }

/*!-----PAGINA SERVICIOS-----*/
.servicio-titulo {
  font-size: 50px;
  color: #026e52;
  text-align: center;
  margin-bottom: 50px; }

.servicio {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 8.5px #026e52;
  border-radius: 1.5px; }
  .servicio div img {
    width: 300px;
    height: 200px;
    border-radius: 2.5px; }

.contenedor-servicio {
  display: flex;
  align-items: center; }
  .contenedor-servicio div {
    text-align: center;
    margin-left: 300px; }
    .contenedor-servicio div h2 {
      font-size: 32px; }

/*!-----PAGINA NOSOTROS-----*/
.nosotros {
  justify-content: center; }
  .nosotros img {
    width: 100%;
    height: calc(90vh - 120px);
    object-fit: cover; }
  .nosotros-content {
    position: relative;
    justify-content: center; }
    .nosotros-content .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #045c4281;
      z-index: 1; }
    .nosotros-content .texto-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
      color: #ffffff; }
      .nosotros-content .texto-overlay h1 {
        font-size: 70px;
        margin-bottom: 20px; }
    .nosotros-content .historia {
      font-size: 20px;
      line-height: 1.6;
      max-width: 600px;
      margin: 0 auto; }

/*!-----PAGINA CONTACTO-----*/
.contenedor-contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.icono-contacto,
.formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.icono-contacto {
  font-size: 50px;
  margin-top: 70px;
  justify-content: flex-start; }
  .icono-contacto div {
    display: flex;
    align-items: center; }
    .icono-contacto div i {
      margin-right: 20px; }
    .icono-contacto div h2 {
      margin-bottom: 0;
      font-size: 24px; }

.contacto h1 {
  text-align: center;
  font-size: 35px;
  color: #026e52;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px; }

.contacto-titulo {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color: #026e52;
  font-weight: bold; }

.mapa h2 {
  color: #026e52;
  font-weight: bold;
  margin-bottom: 65px;
  margin-top: 65px; }

.contacto-direccion,
.formulario-contacto {
  text-align: center; }

.mapa div {
  border: 1.5px solid #026e52;
  border-radius: 2.5px;
  margin: 75px; }

.formulario-contacto {
  margin-left: 50px; }
  .formulario-contacto h2 {
    font-size: 25px;
    color: #026e52;
    font-weight: bold;
    margin-bottom: 50px; }
  .formulario-contacto form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .formulario-contacto .campo-formulario {
    margin-bottom: 20px; }
    .formulario-contacto .campo-formulario input,
    .formulario-contacto .campo-formulario textarea {
      width: 680px;
      padding: 10px;
      border: 1.5px solid rgba(2, 110, 82, 0.6);
      border-radius: 10px;
      font-size: 16px; }
    .formulario-contacto .campo-formulario button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #026e52;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease; }
      .formulario-contacto .campo-formulario button:hover {
        background-color: #ffffff;
        color: #026e52;
        border: 2.5px solid #026e52;
        transition: 1s; }

.mapa div {
  border: 1.5px solid #026e52;
  border-radius: 2.5px;
  margin: 75px; }

.mapa h2 {
  color: #026e52;
  font-weight: bold;
  margin-bottom: 65px;
  margin-top: 65px;
  text-align: center; }

footer {
  display: flex;
  width: 100%;
  background: #026e52;
  justify-content: space-evenly;
  align-items: center;
  height: 130px;
  margin-top: 45px; }
  footer div {
    font-size: 40px;
    transition: transform 0.2s;
    padding: 5px; }
    footer div a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #ffffff; }
    footer div:hover {
      transform: scale(1.2); }
  footer h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 0; }
