/*!------------GOOGLE FONTS------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@300&display=swap');

/*!------------RESET------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*!------------HEADER------------*/

header {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #026e52;
    font-size: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-right: 75px;
    margin-bottom: 0;
}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #026e52;
    font-weight: bold;
    font-size: 19px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #fff;
    background-color: #026e52;
    border-radius: 10px;
    padding: 5px
}


/*!------------MAIN------------*/

body header h1 {
    font-weight: bolder;
}


.carousel-caption h1 {
    font-size: 110px;
    color: white;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 2px #026e519a;
}


.carousel-caption p {
    font-size: 40px;
    color: rgb(253, 253, 253);
    -webkit-text-stroke: 1px #026e519a;
}


.titulo-producto {
    font-size: 50px;
    text-align: center;
    margin: 50px;
    padding: 15px;
    color: #026e52;
}

.hero {
    width: 100%;
    background-position: center;
    display: flex;
    align-items: center;
}

/*!------------ICONOS MAIN------------*/

.icons {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    color: #026e52;

}

.contenedor-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.contenedor-icons div {
    font-size: 55px;
    margin: 20px;
}

.titulos-iconos h3 {
    font-size: 15px;
    font-weight: bold;
}

.titulos-iconos p {
    font-size: 13px;
}

.contenedor-texto-iconos {
    display: flex;
    align-items: center;
}

/*!------------GALERIA INDEX------------*/

.contenedor-img-index {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0 auto;
}

.contenedor-img-index div {
    position: relative;
}

.contenedor-img-index div h3 {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    background-color: #026e519a;
    border-radius: 5px;
}

.contenedor-img-index img {
    border: 1px solid #026e52;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.imagen-alargada {
    grid-row: span 2;
}

/*!------------PRODUCTOS------------*/

.titulo-productos {
    text-align: center;
    color: #026e52;
    margin-bottom: 50px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    border: 0.5px solid #026e52;
}

.productos .producto-card:hover {
    transition: 2s;
}

.productos .producto-card:hover {
    transform: scale(1.1);
}

.producto-card img {
    align-self: center;

}

.producto-img {
    height: 380px;
    width: 380px;
    display: flex;
    align-items: center;

}

.contenedor-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

button {
    background-color: #026e52;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}


/*!------------SERVICIOS------------*/

.servicio {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 8.5px #026e52;
    border-radius: 1.5px;
}


.servicio div img {
    width: 300px;
    height: 200px;
    border-radius: 2.5px;
}

.contenedor-servicio {
    display: flex;
    align-items: center;
}

.contenedor-servicio div {
    text-align: center;
    margin-left: 300px;
}

/*!------------NOSOTROS------------*/

.nosotros img {
    width: 100%;
    height: calc(90vh - 120px);
    object-fit: cover;
}

.nosotros {
    justify-content: center;
}

.nosotros-content {
    position: relative;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 110, 82, 0.6);
    z-index: 1;
}

.texto-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #ffffff;
}

.texto-overlay h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.historia {
    font-size: 20px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

/*!------------CONTACTO------------*/

.contenedor-contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icono-contacto,
.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono-contacto {
    font-size: 50px;
    margin-top: 70px;
    justify-content: flex-start;
}

.contacto h3 {
    text-align: center;
    font-size: 35px;
    color: #026e52;
    font-weight: bold;
    margin-top: 50px;
}

.contacto-titulo {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: #026e52;
    font-weight: bold;
}

.mapa h2 {
    color: #026e52;
    font-weight: bold;
    margin-bottom: 65px;
    margin-top: 65px;
}

.contacto-direccion,
.formulario-contacto {
    text-align: center;
}

.icono-contacto div {
    display: flex;
    align-items: center;
}

.icono-contacto div i {
    margin-right: 20px;
}

.icono-contacto div h4 {
    margin-bottom: 0;
}

.mapa div {
    border: 1.5px solid #026e52;
    border-radius: 2.5px;
    margin: 75px;
}

.formulario-contacto {
    margin-left: 50px;
}

.formulario-contacto h3 {
    font-size: 25px;
    color: #026e52;
    font-weight: bold;
    margin-bottom: 20px;
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-formulario {
    margin-bottom: 20px;
}

.campo-formulario input,
.campo-formulario textarea {
    width: 680px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.campo-formulario button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #026e52;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.campo-formulario button:hover {
    background-color: #045c42;
}

/*!------------FOOTER------------*/

footer {
    display: flex;
    width: 100%;
    background: #026e52;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-top: 45px;
}

footer div {
    font-size: 40px;
    transition: transform 0.2s;
    padding: 5px;

}

footer div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

footer h3 {
    color: #ccc;
    font-size: 22px;
    margin-bottom: 0;
}

footer div:hover {
    transform: scale(1.2);
}

/*!------------MEDIA QUERY------------*/

@media screen and (max-width:800px) {
    header {
        flex-direction: column;
    }

    .contenedor-icons {
        flex-direction: column;
        align-items: center;
    }

    .contenedor-img-index {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    header {
        nav {
            ul {
                flex-direction: column;
                text-align: center;

                li {
                    margin: 0 !important;
                }
            }
        }
    }

    .contenedor-img-index {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .diseno {
        height: 100% !important;
    }

    .contenedor-icons div {
        margin: 0;
    }
}

@media screen and (max-width:900px) {
    .contenedor-servicio div {
        margin-left: 0;
    }
}

@media screen and (max-width:600px) {
    .contenedor-servicio {
        flex-direction: column;
    }
}

@media screen and (max-width:1200px) {
    .contenedor-contacto {
        flex-direction: column;
    }
}

@media screen and (max-width:850px) {

    .campo-formulario input {
        width: 350px;
        margin-bottom: 15px;
    }

    .campo-formulario textarea {
        width: 350px;
    }
}