/*!------INDEX-----*/

body {
    header {
        h1 {
            font-weight: bolder;
        }
    }
}

/*!------ICONOS INDEX-----*/

.icons {
    background-color: $color-secundario;
    padding: 15px;
    color: $color-primario;

    .contenedor-icons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;

        div {
            font-size: 55px;
            margin: 20px;
        }
    }

    .titulos-iconos {
        h3 {
            font-size: 15px;
            font-weight: bold;
        }

        p {
            font-size: 13px;
        }
    }

    .contenedor-texto-iconos {
        display: flex;
        align-items: center;
    }
}

/*!-----PRODUCTOS INDEX-----*/

.titulo-producto {
    font-size: 50px;
    text-align: center;
    margin: 50px;
    padding: 15px;
    color: $color-primario;
}

.contenedor-img-index {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0 auto;

    div {
        position: relative;

        h3 {
            position: absolute;
            bottom: 0;
            color: #ffffff;
            width: 100%;
            padding: 10px;
            margin-bottom: 0;
            background-color: rgba($color-primario, 0.6);
            border-radius: 5px;
        }
    }

    img {
        border: 1px solid $color-primario;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .imagen-alargada {
        grid-row: span 2;
    }
}

/*!-----PAGINA PRODUCTOS-----*/

.titulo-productos {
    text-align: center;
    color: #026e52;
    margin-bottom: 50px;
}

.productos .producto-card:hover {
    transition: 2s;
}

.productos .producto-card:hover {
    transform: scale(1.1);
    box-shadow: 6px 10px 37px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 10px 37px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 10px 37px -8px rgba(0, 0, 0, 0.75);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .producto-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid #ccc;
        margin: 25px;
        padding-bottom: 10px;
        text-align: center;
        background-color: $color-secundario;
        border-radius: 5px;
        border: 0.5px solid #026e52;

        img.producto-img {
            align-self: center;
            height: 380px;
            width: 380px;
            display: flex;
            align-items: center;
        }

        .contenedor-inf {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                background-color: $color-secundario;
                color: $color-primario;
                border: 1.5px solid $color-primario;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                font-weight: bold;
                transition: 0.7s;

                &:hover {
                    background-color: $color-primario;
                    color: #ffffff;
                    border: 1px solid #ccc;
                }
            }
        }
    }
}

/*!-----PAGINA SERVICIOS-----*/

.servicio {
    background-color: $color-secundario;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 8.5px $color-primario;
    border-radius: 1.5px;

    div {
        img {
            width: 300px;
            height: 200px;
            border-radius: 2.5px;
        }
    }

    .contenedor-servicio {
        display: flex;
        align-items: center;

        div {
            text-align: center;
            margin-left: 300px;
        }
    }
}

/*!-----PAGINA NOSOTROS-----*/

.nosotros {
    img {
        width: 100%;
        height: calc(90vh - 120px);
        object-fit: cover;
    }

    justify-content: center;

    &-content {
        position: relative;
        justify-content: center;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #045c4281;
            z-index: 1;
        }

        .texto-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 2;
            color: $color-secundario;

            h2 {
                font-size: 50px;
                margin-bottom: 20px;
            }
        }

        .historia {
            font-size: 20px;
            line-height: 1.6;
            max-width: 600px;
            margin: 0 auto;
        }
    }
}



/*!-----PAGINA CONTACTO-----*/

.contenedor-contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icono-contacto,
.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono-contacto {
    font-size: 50px;
    margin-top: 70px;
    justify-content: flex-start;
}

.contacto {
    h3 {
        text-align: center;
        font-size: 35px;
        color: $color-primario;
        font-weight: bold;
        margin-top: 50px;
    }
}

.contacto-titulo {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: $color-primario;
    font-weight: bold;
}

.contacto-direccion,
.formulario-contacto {
    text-align: center;
}

.icono-contacto {
    div {
        display: flex;
        align-items: center;

        i {
            margin-right: 20px;
        }

        h4 {
            margin-bottom: 0;
        }
    }
}

.formulario-contacto {
    margin-left: 50px;

    h3 {
        font-size: 25px;
        color: $color-primario;
        font-weight: bold;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.campo-formulario {
    margin-bottom: 20px;

    input,
    textarea {
        width: 680px;
        padding: 10px;
        border: 1.5px solid $color-primario;
        border-radius: 10px;
        font-size: 16px;
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        color: $color-primario;
        border: 1.5px solid$color-primario;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: bold;

        &:hover {
            background-color: $color-primario;
            ;
            color: $color-secundario;
            border: 1px solid $color-secundario;
        }
    }
}

.mapa {
    div {
        border: 1.5px solid $color-primario;
        border-radius: 2.5px;
        margin: 75px;
    }
}

.mapa {
    h2 {
        color: $color-primario;
        font-weight: bold;
        margin-bottom: 65px;
        margin-top: 65px;
    }
}